body {
  font-family: 'Playfair Display', serif;
  /*font-family: 'Days One', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Hind', sans-serif;
  font-family: 'Sarpanch', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  background-color: white;*/
  /*background: url('https://i.ibb.co/R7GXbR9/bg.png');*/
  /*background: url('');*/
  /*background-color: #191919;
  background-size: cover;
  background-repeat: repeat;
  color: white;*/
  /*display: flex;
  align-items: center;
  /*height: 100vh;*/
}

.navbar {
  background-color: white;
  color: #191919;
  margin: 0 10% 0 10%;
}

.navbar-brand {
  font-size: 30px;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1000px) {
  .navbar-brand {
    font-size: 20px;
    font-weight: 700;
  }
}

.navbar-toggler {
  padding: 0;
  border: 0
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.nav-link {
  color: #191919;
  padding-top: 5px;
  padding-bottom: 0;
}

.con2 {
  margin: 0 10%;
}

@media (max-width: 720px) {
  .con2 {
    margin: 0 3%;
  }
}

.hr1 {
  padding-top: 1px;
  background-color: #aeaeae;
  margin: 0 10%;
}

@media (max-width: 720px) {
  .hr1 {
    padding-top: 1px;
    background-color: #aeaeae;
    margin: 0 3%;
  }
}

.hr2 {
  padding-top: 0;
  background-color: white;
  margin: 0;
}

@media (max-width: 720px) {
  .hr2 {
    padding-top: 1px;
    background-color: #aeaeae;
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .row {
    margin: 1% 3% 0 3% !important;
  }
}

@media (max-width: 1000px) {
  .navbar {
    margin: 0 2% 0 2%;
  }
}

.timeline {
}

@media (max-width: 760px) {
  .timeline {
    padding-top: 3%;
  }
}

.icon {
  background: #191919;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 18px;
  background-color: #191919;
  color: white;
}

@media (max-width: 1000px) {
  .icon {
    background: #191919;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 16px;
  }
}

a {
  margin-right: 7px;
}

.icon-group {
  justify-content: center;
  padding-top: 2%;
}

@media (max-width: 1000px) {
  .icon-group {
    justify-content: center;
  }
}

.icon-group2 {
  justify-content: left;
  padding-top: 2%;
}

@media (max-width: 1000px) {
  .icon-group2 {
    justify-content: center;
  }
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.explain {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.explain2 {
  font-size: 34px;
  margin-top:;
  padding: -2% 0 -2% 0;
}

.explain3 {
  font-size: 32px;
  margin-top: -2%;
  padding-bottom: 2%;
}

.explain4 {
  font-size: 16px;
  margin-top: 12%;
}

@media (max-width: 1000px) {
  .explain4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 5%;
    text-align: center;
    padding-bottom: 2%;
    line-height: 0;
  }
}

@media (max-width: 1000px) {
  .explain {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .explain2 {
    font-size: 30px;
    padding-bottom: 0;
    text-align: center;
    padding-top: -2%;
    margin-bottom: -2%;
  }
}

@media (max-width: 1000px) {
  .landing-text {
    text-align: center;
    padding-top: -2%;
  }
}

@media (max-width: 1000px) {
  .explain3 {
    font-size: 22px;
    text-align: center;
  }
}

.con1 {
  padding-top: 0;
}

@media (max-width: 1000px) {
  .con1 {
    padding-top: 0;
  }
}

.img-fluid2 {
  height: 315px;
}

@media (max-width: 760px) {
  .img-fluid2 {
    height: auto;
  }
}

.logo-group {
  text-align: left;
  padding-top: 2%;
}

@media (max-width: 760px) {
  .logo-group {
    justify-content: center;
    padding-top: 2%;
  }
}

.logo {
  width: 90px;
}

.facts-video {
  text-align: center;
  padding: 4% 0 0 0;
}

.aboutrow {
  text-align: center;
}

@media (max-width: 1000px) {
  .aboutrow {
    text-align: center;
  }
}

.abouttext {
  padding: 0 15%;
}

@media (max-width: 1000px) {
  .abouttext {
    padding: 0 3%;
  }
}

.liner {
    background: none repeat scroll 0 0 #ffffff;
    display: inline-block;
    height: 50px;
    margin: 20px 0;
    width: 1px;
    opacity: 0.6;
}

p {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin: 0 0 0 0;
  padding-bottom: 0;
  line-height:normal;
}

.about-text {
  font-family: 'Playfair Display', serif;
  font-size: 46px;
  margin: 0 0 0 0;
}

@media (max-width: 1000px) {
  h5 p {
  }
}

@media (max-width: 1000px) {
  h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
  }
}

@media (max-width: 1000px) {
  p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin: 0 0 0 0;
  }
}

.container {
  padding: 0;
  margin: 0;
  border: 0;
}

.col-sm-6 {
  padding: 0;
}

@media (max-width: 1000px) {
  .col-sm-6 {
    padding: 0;
    margin: 0;
    border: 0;
  }
}

.card-img-top {
  width: 0;
}

@media (max-width: 1000px) {
  .card-img-top {
    width: 100%;
  }
}

.card {
  border: 0;
}

.card-text {
  font-weight: 500;
  padding-bottom: 4%;
  text-align: center;
}

.card-title {
  text-align: center;
  font-size: 28px;
}

.card-body {
  padding: 0;
}

.list-group-item {
  padding: 0;
  text-align: left;
}

@media (max-width: 1000px) {
  .footer {
    font-size: 12px;
  }
}

.footer {
  font-size: 15px;
  text-align: center;
  padding: 0;
  font-weight: 600;
  color: white;
  background-color: #191919;
}

@media (max-width: 1000px) {
  .footer {
    font-size: 12px;
  }
}
